<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267346684294-5dgg6oggt6qptdiki497ertm9409evrd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267346684294-5dgg6oggt6qptdiki497ertm9409evrd</string>
	<key>API_KEY</key>
	<string>AIzaSyDWJjlRdQjZiwzqiSZXpLBkebMNS0zpiZg</string>
	<key>GCM_SENDER_ID</key>
	<string>267346684294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.integra-mobile.ganco.bits</string>
	<key>PROJECT_ID</key>
	<string>integramobile-bc63d</string>
	<key>STORAGE_BUCKET</key>
	<string>integramobile-bc63d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267346684294:ios:8a5666163a13faeb31a407</string>
</dict>
</plist>